/*----------------
RESET
----------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
BODY STYLE
-----------------*/

body {
    background-color: #F6F8F9;
    font-family: "Roboto", sans-serif;
}

/*----------------
HEADER STYLE
-----------------*/

header {
    background-color: #ffffff;
    padding: 12px 20px;
}

.logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

/*------------------
MAIN STYLE
-------------------*/

.firstblock {
    background-color: #ffffff;
    width: 70%;
    margin: 40px auto;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    padding: 15px;
    
}

/*------------------
BUTTONS STYLE
-------------------*/

.btn {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
}

.btn-color-first {
    background-color: #14AAF5;
    border-color: #14AAF5;
    color: #ffffff;
}

.btn-color-second {
    color: #C4CBD0;
}

/*-------------------
SECOND BLOCK
--------------------*/

.secondblock {
    background-color: #ffffff;
    width: 70%;
    margin: 5px auto;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 15px;
    margin-top: -37px;
}

/*-----------------
LIST
------------------*/

ul {
    list-style: none;
}

.title {
    color: #434851;
    font-weight: bolder;
}